.login--wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.login {
    width: 400px;
    height: min-content;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 10px 30px;
}

.login h1 {
    color: #
}