@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  background-color: #070707;
}

.bg-purple {
  background-color: #57467b;
}

/* toast personalizado escuro */
.Toastify__toast--dark {
  background-color: #18181b !important; /* bg-zinc-900 */
  color: #f4f4f5 !important; /* text-zinc-100 */
  border: 1px solid #9333ea; /* roxo */
  border-radius: 0.75rem !important; /* rounded-xl */
  font-weight: 500;
  box-shadow: 0 0 10px rgba(147, 51, 234, 0.2);
}
.Toastify__progress-bar--dark {
  background: #a855f7 !important; /* purple-500 */
}
