@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #070707;
}

.bg-purple {
  background-color: #57467b;
}
