.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-left {
  width: 50%;
}

.serie-list,
.episode-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
