.navbar-user {
  width: 40px;
  height: 40px;
  background-color: #508f62;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f6f6;
}
